body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0 !important;
    padding: 0 !important;
}

html,
body {
    font-size: 12px;
    --main-color: #1AD1A5;
    --main-color-rgb: rgb(26, 209, 165);
}
.main-color{
    color: #1AD1A5;
}
.main{
    width: 100vw;
    height: 100vh;
    background: url("https://blog-cli.oss-cn-hangzhou.aliyuncs.com/kfidegf11wd.jpg");
    background-size: cover;
}
a{
    text-decoration: none !important;
}

/* 机械字体包 */
@font-face {
    font-family: NumFont;
    src: url('./integer.ttf');
    unicode-range: U+30-39;
}

/* 透明滚动条 */
::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent !important;
}

button::after {
    border: none;
}

button {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: inherit;
    border-radius: 0;
}

img{
    width: 100%;
    height: 100%;
}

*{
    color: #f1f1f1;
    box-sizing: border-box !important;
}

.box{
    border: 1px solid rgba(26, 209, 165, .1);
    -webkit-backdrop-filter: contrast(100%);
    background-color: rgba(255, 255, 255, .1);
    border-radius: .5rem;
}
